html, body, figure, img, div, input, textarea, p, h1, h2, h3, ul, li, a, main{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}  

.container{
    background-color: white;
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 30px;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.coluna{
    flex-basis: 49%;
}

.coluna-esquerda{
    flex-basis: 30%;
}

.coluna-direita{
    flex-basis: 70%;
}

.coluna ul{
    margin: 12px 0 15px 0;
}

.coluna ul li{
    margin: 12px 0 0 0;
}

.coluna ul li a{
    margin: 12px 0 0 0;
}

h2{
    margin: 12px 0 12px 0;
}

p{
    margin: 12px 0px 0px;
}

img{
    width: 250px;
    border-radius: 100%;
}

.hidden{
    display: none;
}




/* BODY */
body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    background-color: red;
    padding-top: 30px;
}
header.coluna img{
    width: 250px;
    border-radius: 100%;
}
header.coluna p{
    font-size: 1.34rem;
}

/* FOOTER */
footer{
    background-color: red;
}
footer nav .info-contato{
    display:grid;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
footer nav .info-contato li{
    margin: 12px 0 0 0;
    color: black;
}
footer nav .info-contato li a{
    margin: 12px 0 0 0;
    color: black;
}
footer nav .redes-sociais{
    margin: 12px 15px 15px 15px;

    border-top: 1px solid rgb(255, 255, 255/ 20%);
    
}
footer nav .redes-sociais li{
    margin: 12px 0 0 0;
}
footer nav .redes-sociais li a{
    margin: 12px 0 0 0;
}
footer nav .redes-sociais li a img{
    margin: 10px 10px 0;
    width: 32px;
}
footer nav .redes-sociais li a img p{
    margin: 12px 15px 0 0;
}
footer nav .redes-sociais li a p{
    margin: 12px 20px 10px 0;
}


/* PAGINA INICIAL */
main.coluna section{
    padding: 20%;
}
main.coluna section h2{
    margin: 12px 0 0 0;
}
main.coluna section p{
    margin: 12px 15px 0 0;
}
main.coluna section ul li h2{
    margin: 12px 0 0 0;
}
main.coluna section ul li p{
    margin: 12px 15px 0 0;
}

/* EXTRAS */
.dark-mode{
    --corBackgroundPrimaria: #000;
}

/* @MEDIA */
@media only screen and (min-width: 768px){
    .linha{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    footer nav .redes-sociais{
        display: flex;
        justify-content: center;
    }
    header{
        padding-top: 30px;
    }
    img{
        max-width: 250px;
        border-radius: 100%;
    }
}
